@page
@model RPG.Pages.Game
@{ ViewData["Title"] = "Game";
}
<p>@Model.Location.Description</p>
<ul id="list">Tvé statistiky
    <li>HP: @Model._player.HP</li>
    @if (Model._player.Sword == true)
    {
        <li>Ozbrojen: Ano</li>
    }
    @if (Model._player.Sword == false)
    {
        <li>Ozbrojen: Ne</li>
    }
</ul>


@foreach (var i in @Model.Location.Paths)
{
    <a asp-route-to="@i.IDofPath" asp-handler class="btn btn-secondary">@i.DescriptionofPath</a>
}