@page
@model RPG.Pages.Game
@{ ViewData["Title"] = "Game";
}
<p>@Model.Location.Description</p>
<ul id="list" class="purple">
    Tvé statistiky

    @switch (Model._player.HP)
    {
        case 10:
        case 9:
            <li class="green">HP: @Model._player.HP</li>
            break;
        case 8:
        case 7:
            <li class="yellow">HP: @Model._player.HP</li>
            break;
        case 6:
        case 5:
            <li class="orange">HP: @Model._player.HP</li>
            break;
        case 4:
        case 3:
            <li class="red">HP: @Model._player.HP</li>
            break;
        case 2:
        case 1:
            <li class="brown">HP: @Model._player.HP</li>
            break;
        case 0:
            <li class="black">HP: @Model._player.HP</li>
            break;
    }

    @if (Model._player.Sword == true)
    {
        <li class="green">Ozbrojen: Ano</li>
    }
    @if (Model._player.Sword == false)
    {
        <li class="red">Ozbrojen: Ne </li>
    }
    @if (Model._player.Trenky == false)
    {
        <li class="brown">Trenky: No... ty víš...</li>
    }

</ul>


@foreach (var i in @Model.Location.Paths)
{
    <a asp-route-to="@i.IDofPath" asp-handler class="btn btn-secondary">@i.DescriptionofPath</a><br />

}

@if (Model.Location.ID == 3)
{
    <img class="imgsmall" src="~/css/mapa.png" />
}

@if (Model.Location.ID == 40)
{
    <p class="purple">Gratulujeme, získal jsi tyto achievementy!</p>
    if (Model._player.HP == 10)
    {
        <p class="green">Hra dohrána bez ztráty HP!</p>
    }
    if (Model._player.Sword == true)
    {
        <p class="green">Hra dohrána s mečem!</p>
    }
    if (Model._player.Trenky == false)
    {
        <p class="green">Hra dohrána s podělanými trenkami, gratuluji!</p>
    }
}